body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  background: rgb(0, 95, 135);
  background: linear-gradient(
    0deg,
    rgba(0, 95, 135, 1) 0%,
    rgba(0, 97, 81, 1) 100%
  );
  color: snow;
  font-size: 20px;
  font-family: 'Trebuchet MS', sans-serif;
}

.dot {
  border-radius: 50px;
  background-color: snow;
  position: absolute;
}

#score-in-row {
  position: absolute;
  top: 1.3em;
  left: 1em;
}

#hardcore-setting {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: center;
  top: 1em;
  right: 1em;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 0.5rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background: rgb(0,140,159);
background: linear-gradient(90deg, rgba(0,140,159,1) 0%, rgba(0,183,153,1) 43%, rgba(133,221,129,1) 100%);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
